@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.1px;
    height: 0.1px;
}

body,
html {
    font-family: "RobotoMono", monospace;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}